# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
# Unignore certain files without extensions
!Makefile

# Ignore these extensions
*.o
*.a
*.lib
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
\.*
*~*
*.pyc
*.class
*.jar
*.tar
*.tgz
*.gz
*.bz2
*.Z
*.zip
*.rpm
*.deb
*.log
*.tmp
